/DemoClassAnonymous/build/
/DemoEnum/nbproject/private/
/DemoEnum/build/
/Strust_hibernate_crud_test/nbproject/private/
/Strust_hibernate_crud_test/build/
/Strust_hibernate_crud_test/dist/
/website_project/nbproject/private/
/web_test_struts_hibernate/nbproject/private/
/web_test_struts_hibernate/build/
/web_test_struts_hibernate/dist/
/ABSTRACT_INTERFACE/nbproject/private/
/ABSTRACT_INTERFACE/build/
/Dongboluong_synchronized/nbproject/private/
/Dongboluong_synchronized/build/